@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden !important;
  font-size: 16px;
  color: #161c2d;
}
body a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 600;
}

.header {
  background-color: #fff;
  box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1080;
}
.header .nav_head {
  padding: 18px 0;
}
.header .nav_head .nav_containt {
  padding-right: 0px;
  padding-left: 0px;
}
.header .nav_head .nav_containt .nav_bar .logoimg {
  max-width: 195px;
  width: 100%;
}
.header .nav_head .nav_containt .nav_collapse .navbar_nav .nav-item {
  margin: 0 3px;
}
.header .nav_head .nav_containt .nav_collapse .navbar_nav .nav-item .nav-link {
  display: block;
  color: #3c4858;
  font-size: 13px;
  background-color: transparent;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  font-family: "Nunito", sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}
.header .nav_head .nav_containt .nav_collapse .navbar_nav .nav-item .nav-link .drowp_icon {
  display: inline-block;
  margin-left: 5px;
}
.header .nav_head .nav_containt .nav_collapse .navbar_nav .nav-item .nav-link .drowp_icon .Dawn {
  font-size: 20px;
  line-height: 0.1;
  transition: all 0.5s ease;
}
.header .nav_head .nav_containt .nav_collapse .navbar_nav .nav-item .nav-link:hover, .header .nav_head .nav_containt .nav_collapse .navbar_nav .nav-item .nav-link.active {
  color: #2f55d4;
}
.header .nav_head .nav_containt .nav_collapse .navbar_nav .nav-item .nav-link:hover .drowp_icon .Dawn, .header .nav_head .nav_containt .nav_collapse .navbar_nav .nav-item .nav-link.active .drowp_icon .Dawn {
  transform: rotate(180deg);
}
.header .nav_head .nav_containt .manu_icon {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
.header .nav_head .nav_containt .manu_icon .manu_list {
  padding: 5px;
}
.header .nav_head .nav_containt .manu_icon .manu_list .iconlink {
  color: #2f55d4;
  box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
  padding: 7px 10px;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  font-weight: 400;
  border-radius: 6px;
  background-color: rgba(47, 85, 212, 0.1);
  border: 1px solid rgba(47, 85, 212, 0.1);
}
.header .nav_head .nav_containt .manu_icon .manu_list .iconlink:hover {
  color: #ffffff;
  background-color: #2f55d4;
}
.header .nav_head .nav_containt .manu_icon .manu_list .iconlink2 {
  color: #bdb8b8;
  outline: none;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-weight: 400;
  margin-right: 10px;
}
.header .nav_head .nav_btn {
  border: 0;
  box-shadow: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 25px;
  position: relative;
  height: 15px;
}
.header .nav_head .nav_btn .bar {
  width: 100%;
  height: 2px;
  background-color: #5c62cb;
  position: absolute;
  right: 0;
  display: block;
  transition: all 0.5s;
}
.header .nav_head .nav_btn .bar:nth-child(1) {
  top: 0;
}
.header .nav_head .nav_btn .bar:nth-child(2) {
  top: 50%;
}
.header .nav_head .nav_btn .bar:nth-child(3) {
  top: 100%;
}
.header .nav_head .nav_btn[aria-expanded=true] .bar:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
.header .nav_head .nav_btn[aria-expanded=true] .bar:nth-child(2) {
  opacity: 0;
}
.header .nav_head .nav_btn[aria-expanded=true] .bar:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

.banner_worp {
  position: relative;
  background-color: #fff;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  background-image: url(../imgs/slider12_4d489365-da55-49c6-9504-a1f5f82b4111_1950x.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner_worp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  opacity: 0.6;
  background-color: #02020296;
}
.banner_worp .sett_bottom {
  position: fixed;
  left: 0;
  top: 100px;
  width: 45px;
  height: 40px;
  background: #fff;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  top: 17%;
  z-index: 9999;
  box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
}
.banner_worp .sett_bottom .setting {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  width: 45px;
}
.banner_worp .sett_bottom .setting .setting_icon {
  font-size: 26px;
}
.banner_worp .prodactmain .Prodact_manu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}
.banner_worp .prodactmain .Prodact_manu .all_prodact {
  letter-spacing: 1px;
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 700;
  font-size: 75px;
  color: #fff;
  margin-bottom: 0;
}
.banner_worp .banner_button {
  position: absolute;
  bottom: -35px;
  right: 50%;
  list-style: none;
  display: inline-flex;
  border-radius: 4px;
  transform: translateX(50%);
  box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
  padding: 3px 16px;
  background-color: #ffffff;
}
.banner_worp .banner_button .Bbutton .proudac_manu {
  display: block;
  color: #3c4858;
  font-size: 13px;
  background-color: transparent;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  font-family: "Nunito", sans-serif;
  padding: 6px 6px;
  text-decoration: none;
}
.banner_worp .banner_button .Bbutton .proudac_manu .drowp_icon {
  display: inline-block;
  margin-left: 5px;
}
.banner_worp .banner_button .Bbutton .proudac_manu .drowp_icon .Dawn {
  font-size: 20px;
  line-height: 0.1;
  transition: all 0.5s ease;
}
.banner_worp .banner_button .Bbutton .proudac_manu:hover, .banner_worp .banner_button .Bbutton .proudac_manu.active {
  color: #2f55d4;
}
.banner_worp .banner_button .Bbutton .proudac_manu:hover .drowp_icon .Dawn, .banner_worp .banner_button .Bbutton .proudac_manu.active .drowp_icon .Dawn {
  color: #2f55d4;
}

.choping_worp {
  padding: 100px 0;
  position: relative;
}
.choping_worp .catagory {
  position: sticky;
  top: 5px;
  left: 0;
}
.choping_worp .catagory .search_bar {
  border: 1px solid #ddd;
  padding: 9px 14px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 35px;
}
.choping_worp .catagory .search_bar .searchform {
  position: relative;
}
.choping_worp .catagory .search_bar .searchform .border {
  background-color: initial;
  border: 1px solid transparent !important;
  outline: none;
  font-size: 14px;
}
.choping_worp .catagory .search_bar .searchform input[type=submit] {
  float: right;
  width: 30px;
  opacity: 0;
}
.choping_worp .catagory .search_bar .searchform:before {
  content: "";
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.choping_worp .catagory .widget_title {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
.choping_worp .catagory .list_unstyled {
  list-style: none;
  margin-bottom: 35px;
  padding: 0;
}
.choping_worp .catagory .list_unstyled .listManu {
  padding-bottom: 10px;
}
.choping_worp .catagory .list_unstyled .listManu a {
  font-size: 15px;
  color: #3c4858;
  transition: all 0.5s ease;
  text-decoration: none;
}
.choping_worp .catagory .list_unstyled .listManu a:hover {
  color: #2f55d4;
}
.choping_worp .catagory .list_unstyled .list-inline-item .btn {
  height: 30px;
  width: 30px;
  line-height: 28px;
  border-radius: 50%;
}
.choping_worp .catagory .list_unstyled .media {
  display: flex;
}
.choping_worp .catagory .list_unstyled .media a .avatar {
  width: 65px;
}
.choping_worp .catagory .list_unstyled .media .content {
  margin-left: 20px;
}
.choping_worp .catagory .list_unstyled .media .content .text_dark {
  color: #323c49;
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 600;
}
.choping_worp .catagory .list_unstyled .media .content .text_muted {
  color: #8492a6;
  font-style: italic;
  margin-top: 5px;
}
.choping_worp .catagory .list_unstyled .media .content .text-danger {
  margin-left: 5px;
}
.choping_worp .section_title .section_h5 {
  margin-top: 7px;
  margin: 0;
}
.choping_worp .Selector .form {
  position: relative;
}
.choping_worp .Selector .form .form_grup .selector_h {
  display: block;
  width: 100%;
  padding: 9px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #2f55d4;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.choping_worp .Selector .form:before {
  content: "";
  font-family: "FontAwesome";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.choping_worp .Selector .show_icon .text_muted .fa {
  color: #75859b;
}
.choping_worp .shope_main {
  margin-top: 30px;
  position: relative;
}
.choping_worp .shope_main .fauter_txt {
  position: absolute;
  top: 20px;
  left: -15px;
  z-index: 2;
  padding: 0;
  list-style: none;
}
.choping_worp .shope_main .fauter_txt .fauter_pra {
  background-color: #2eca8b;
  color: #fff;
  text-decoration: none;
  transition: color 0.15s ease;
  font-size: 12px;
  padding: 2px 9px;
  border-radius: 10px;
}
.choping_worp .shope_main .shope_img {
  position: relative;
  min-height: 325px;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 11px 21px #d4d8e4;
}
.choping_worp .shope_main .shope_img .over_flow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.5s ease;
  display: inline-table;
}
.choping_worp .shope_main .shope_img .over_flow2 {
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: inline-table;
}
.choping_worp .shope_main .shope_img:hover .over_flow {
  opacity: 0;
  z-index: 0;
}
.choping_worp .shope_main .shope_img:hover .over_flow2 {
  opacity: 1;
  z-index: 1;
}
.choping_worp .shope_main .shope_img:hover .shop_icons_main {
  position: absolute;
  z-index: 2;
  top: 12px;
  right: 12px;
  list-style: none;
  transition: all 0.5s ease;
}
.choping_worp .shope_main .shope_img:hover .shop_icons_main .btn_icon {
  height: 36px;
  width: 37px;
  line-height: 36px;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 600;
  background-color: rgba(228, 63, 82, 0.1);
  border: 1px solid rgba(228, 63, 82, 0.1);
  color: #e43f52;
  box-shadow: 0 3px 5px 0 rgba(228, 63, 82, 0.3);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
          user-select: none;
  border-radius: 50%;
  margin-bottom: 10px;
}
.choping_worp .shope_main .shope_img:hover .shop_icons_main .btn_icon:hover {
  color: #fff;
  background-color: red;
}
.choping_worp .shope_main .shope_img:hover .shop_icons_main .btn_icon.btn_icon2 {
  color: #2f55d4;
}
.choping_worp .shope_main .shope_img:hover .shop_icons_main .btn_icon.btn_icon2:hover {
  color: #fff;
  background-color: #2f55d4;
}
.choping_worp .shope_main .shope_img:hover .shop_icons_main .btn_icon.btn_icon3 {
  color: #f17425;
}
.choping_worp .shope_main .shope_img:hover .shop_icons_main .btn_icon.btn_icon3:hover {
  color: #fff;
  background-color: #f17425;
}
.choping_worp .shope_main .shope_img:hover .out_stok {
  opacity: 1;
}
.choping_worp .shope_main .shope_img .out_stok {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
  opacity: 0;
  transition: all 0.5s ease;
}
.choping_worp .shope_main .shope_img .out_stok .stoke_head {
  border: 1px solid rgba(60, 72, 88, 0.1);
  color: #3c4858;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: rgba(60, 72, 88, 0.1);
}
.choping_worp .shope_main .starHead .star_hed {
  transition: all 0.5s ease;
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 600;
  color: #3c4858;
  transition: all 0.5s ease;
}
.choping_worp .shope_main .starHead .star_hed:hover {
  color: #2f55d4;
}
.choping_worp .shope_main .starHead .star_main .Italic {
  font-style: italic;
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px;
}
.choping_worp .shope_main .starHead .star_main .Italic .Deleat {
  margin-left: 10px;
  color: #e43f52;
}
.choping_worp .shope_main .starHead .star_main .siar_manu .list-inline-item {
  color: #f17425;
  font-size: 14px;
}
.choping_worp .shope_main .fauter_txt .bac_sale {
  background-color: #f17425;
}
.choping_worp .shope_main .fauter_txt .NEw {
  background-color: #0062cc;
}
.choping_worp .pagination {
  margin-top: 32px;
}
.choping_worp .pagination .page_item .page-link {
  padding: 6px 14px;
  margin-left: -1px;
}
.choping_worp .pagination .page_item .page-link .mdilef {
  font-size: 14px;
  margin-right: 5px;
}
.choping_worp .pagination .page_item .page-link .mdirit {
  font-size: 14px;
  margin-left: 5px;
}
.choping_worp .pagination .page_item .page-link:hover, .choping_worp .pagination .page_item .page-link.active {
  background-color: rgba(47, 85, 212, 0.9);
  color: #fff;
}
.choping_worp .pagination .page_item .raunrit {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.choping_worp .pagination .page_item .raunlef {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.footer_top {
  background: #202942;
  padding: 60px 0;
  position: relative;
  color: #adb5bd;
}
.footer_top .ft_img {
  margin-bottom: 32px;
}
.footer_top .ft_img .logo_hit {
  height: 24px;
}
.footer_top .f_pra {
  line-height: 1.6;
  margin-bottom: 25px;
}
.footer_top .f_iconmain {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.footer_top .f_iconmain .f_iconlis {
  margin: 0 5px;
}
.footer_top .f_iconmain .f_iconlis .iconangr {
  color: #adb5bd;
  border: 1px solid #3c4858;
  border: 1px solid #3c4858;
  border-color: #adb5bd;
  display: inline-block;
  height: 32px;
  width: 32px;
  line-height: 30px;
  text-align: center;
  transition: all 0.4s ease;
  overflow: hidden;
  position: relative;
  border-radius: 6px;
}
.footer_top .f_iconmain .f_iconlis .iconangr:hover {
  background-color: #2f55d4;
  color: #fff;
}
.footer_top .Tfootr_hed {
  color: #f8f9fc;
  font-size: 20px;
  margin-bottom: 30px;
}
.footer_top .footer_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer_top .footer_list .text_foot {
  color: #adb5bd;
  transition: all 0.5s ease;
  margin-bottom: 10px;
  display: inline-block;
}
.footer_top .footer_list .text_foot .L_arrow {
  margin-right: 10px;
}
.footer_top .footer_list .text_foot:hover, .footer_top .footer_list .text_foot.active {
  color: #e6e8ea;
}
.footer_top form .foot_subscribe {
  margin-bottom: 20px;
}
.footer_top form .foot_subscribe label {
  line-height: 1.6;
  margin-bottom: 5px;
}
.footer_top form .foot_subscribe .mail_input {
  position: relative;
}
.footer_top form .foot_subscribe .mail_input .form-control {
  background-color: #27314f;
  border: 1px solid #27314f;
  color: #f8f9fc;
  box-shadow: none;
  height: 42px;
  font-size: 13px;
  transition: all 0.5s ease;
  padding-left: 45px;
  position: relative;
}
.footer_top form .foot_subscribe .mail_input span {
  position: absolute;
  top: 9px;
  left: 16px;
  z-index: 1;
}
.footer_top form .btn_block {
  padding: 8px 20px;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  font-weight: 600;
  border-radius: 6px;
  background-color: rgba(47, 85, 212, 0.1);
  border: 1px solid rgba(47, 85, 212, 0.1);
  color: #2f55d4;
  box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
  width: 100%;
}
.footer_top form .btn_block:hover {
  background-color: #2f55d4;
  color: #fff;
}

.footer {
  padding: 30px 0;
  border-top: 1px solid #283353;
  background: #202942;
  position: relative;
  color: #adb5bd;
}
.footer .FT_text .footer_P {
  margin: 0;
}
.footer .FT_text .footer_P .heard {
  color: #e43f52;
}
.footer .list_unstyled {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  float: right;
}
.footer .list_unstyled .footer_img {
  margin-left: 5px;
}
.footer .list_unstyled .footer_img .ft_img .footerImgs {
  max-height: 25px;
  height: 100%;
  text-align: end;
}

.upicon .up_iconFixd {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
}
.upicon a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.397);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solidrgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}
.upicon a:hover {
  background-color: transparent;
  color: #fff;
  background: #FF4C60;
}

/*===================*/
@media (max-width: 1200px) {
  .banner_worp .prodactmain .Prodact_manu {
    height: 300px;
  }

  .choping_worp .shope_main .shope_img {
    min-height: 270px;
  }
}
@media (max-width: 768px) {
  .header .nav_head .nav_containt .manu_icon {
    position: absolute;
    left: 50%;
    top: 22px;
    padding: 0;
    transform: translate(-50%);
  }

  .navbar_nav {
    min-height: 159px;
    overflow-y: scroll;
  }

  .banner_worp .banner_button .Bbutton .proudac_manu .drowp_icon {
    display: none;
  }

  .choping_worp .shope_main .shope_img {
    min-height: 308px;
  }

  .show_icon {
    margin-left: 5px;
  }

  .banner_worp .sett_bottom {
    display: none;
  }
}
@media (max-width: 736px) {
  .footer .container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }

  .choping_worp .section_title .section_h5 {
    margin: 30px 0px;
  }

  .choping_worp .shope_main .shope_img {
    min-height: 645px;
  }

  .footer_top {
    text-align: center;
  }
  .footer_top .footer_list {
    margin-bottom: 30px;
  }
  .footer_top .f_iconmain {
    display: inline-flex;
  }

  .footer {
    text-align: center;
  }
  .footer .list_unstyled {
    margin: 0;
    padding: 0;
    display: inline-flex;
    list-style: none;
    float: right;
    float: inherit;
    margin: 0 auto;
    margin-top: 10px;
  }

  .header .nav_head .nav_containt .nav_bar .logoimg {
    max-width: 140px;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .choping_worp .shope_main .fauter_txt {
    left: -12px;
  }
}
@media (max-width: 420px) {
  .header .nav_head .nav_containt .nav_bar .logoimg {
    max-width: 140px;
  }
  .header .nav_head .nav_containt .manu_icon {
    right: 130px;
  }

  .choping_worp .section_title .section_h5 {
    margin: 15px 0;
  }

  .choping_worp .shope_main .shope_img {
    min-height: 490px;
  }
  .choping_worp .shope_main .fauter_txt {
    position: absolute;
    top: 20px;
    left: -10px;
  }

  .footer_top {
    text-align: center;
  }
  .footer_top .f_iconmain {
    display: inline-flex;
  }

  .footer {
    text-align: center;
  }
  .footer .list_unstyled {
    margin: 0;
    padding: 0;
    display: inline-flex;
    list-style: none;
    float: right;
    float: inherit;
    margin: 0 auto;
    margin-top: 10px;
  }
}
@media (max-width: 376px) {
  .header .nav_head .nav_containt .manu_icon {
    position: absolute;
    right: 150px;
  }

  .choping_worp .shope_main .shope_img {
    min-height: 440px;
  }
  .choping_worp .section_title .section_h5 {
    margin: 20px 0;
  }
}
@media (max-width: 360px) {
  .header .nav_head .nav_containt .nav_bar .logoimg {
    max-width: 100px;
  }
  .header .nav_head .nav_containt .manu_icon {
    position: absolute;
    right: 100px;
  }
}
@media (max-width: 320px) {
  .choping_worp .shope_main .shope_img {
    min-height: 370px;
  }

  .header .nav_head .nav_containt .nav_bar .logoimg {
    max-width: 95px;
  }
  .header .nav_head .nav_containt .manu_icon {
    position: absolute;
    right: 69px;
  }
  .header .nav_head .nav_containt .manu_icon {
    right: 50px;
  }
}